.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  color: var(--color-text-secondary);
  font-size: 14px;
}

.value {
  font-size: 34px;
  font-weight: 700;
  color: var(--color-text);
}